body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0f7fa;
    transition: background-color 0.3s, color 0.3s;
}
.container {
    margin-top: 50px;
}
button {
    display: block;
    margin: 10px auto;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #007bb5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
    background-color: #005f87;
    transform: scale(1.08);
}
.hidden {
    display: none;
}
#darkModeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #007bb5;
    color: white;
    cursor: pointer;
}
.dark-mode {
    background-color: #263238;
    color: white;
}
